<nav class="navbar navbar-dark navbar-expand-lg sticky-top" style="background-color: #050c10;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
          FoodKart
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
                <a class="nav-link " href="#">Orders</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#"  data-bs-toggle="modal" data-bs-target="#Signup">Signup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#"  data-bs-toggle="modal" data-bs-target="#Login">Login</a>
            </li>
        </ul>
        
      </div>

